<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <hr>
    <form action ="/login" methods="post">

        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        
        
        <label for="pass1">Password</label>
        <input type="password" name="pass1" id="pass1">

        <button type="submit">Login</button>

    </form>
</body>
</html>